.row-buton-tri {
  text-align: center;
}

.row-add-card {
  justify-content: center;
  text-align: center;
  margin-bottom: 5%;
}

.container-add-card {
  font-size: 1.3em;
}

.row-form-add-card {
  margin-bottom: 8%;
  justify-content: center;
}